*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}


body{
    font-family: 'Fraunces 144pt';
    font-style: normal;
    line-height: 40px;
    background: #FCF8FF;
}

header{
    background-color: #24053E;
    height:50vh;
    border-radius: 0 0 50% 50%/0 0 10% 10%;
    position: relative;
    height: 572px;
}

.navbar{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    padding:10px;
    color:white;
}

.navbar ul{
    list-style: none;
}

.navbar a{
    text-decoration: underline;
    text-decoration-color: #44FFA1;
    color:#FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 32px;
}

.content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content span{
    color:white;
    font-style: normal;
    font-weight: 200;
    font-size: 80px;
    line-height: 75px;
    font-family: 'Fraunces 144pt';
}

header .content button.btn{
    margin: 30px auto;
}


div#curlRightImage{
    position: relative;
    top: 70px;
}

.cellPhoneImage img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 569px;  
}  

.flex-items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 130px;
    color:#24053E;
}  

.flex-items .items{
    width: 280px;
    margin:20px;
}

.flex-items .items span{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 11px;
    border: 1px solid #584D62;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
}


.flex-items .items h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-items .items p {
    line-height: 32px;
}

.flex-content-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.person_img{
    background-color: #44FFA1;
    border-radius: 50%;
}

.profile-content {
    position: relative;
    right: 75px;
    top: 130px;
    background-color: #24053E;
    color:#FFFFFF;    
    height: AUTO;
    width: 681px;
    padding:73px;
}

.profile-content span {
    font-family: 'Fraunces 144pt';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
}

.profile-content p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 25px;
}

.profile-content img{
    position: absolute;
    top: 291px;
    right: 52px;    
}
 
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    top:100px;
    height: 150px;;
}

.footer p{
    color:#24053E;
    font-size: 30px;
}

