*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}


body{
    font-family: 'Fraunces 144pt';
    font-style: normal;
    line-height: 40px;
    background: white;
}

header{
    background-color: #FCF8FF;
}

.borderbackground{
    background-color: #24053E;
    height:50vh;
    border-radius: 0 0 50% 50%/0 0 10% 10%;
    position: relative;
    height: 572px;
}

.navbar{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    padding:30px;
    color:white;
}

.navbar ul{
    list-style: none;
}

.navbar a{
    text-decoration: underline;
    text-decoration-color: #44FFA1;
    color:#FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 32px;
}

.content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underline{
    text-decoration: underline #44FFA1 3px;

}

.content span{
    color:white;
    font-style: normal;
    font-weight: 200;
    font-size: 80px;
    line-height: 75px;
    font-family: 'Fraunces 144pt';
}

header .content button.btn{
    margin: 30px auto;
}


div#curlRightImage{
    position: relative;
    top: 70px;
}

.cellPhoneImage img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 569px;  
}  

.flex-items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 130px;
    color:#24053E;

}  

.flex-items .items{
    width: 280px;
    margin:20px;
}

.flex-items .items span{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 11px;
    border: 1px solid #584D62;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
}


.flex-items .items h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-items .items p {
    line-height: 32px;
}

.flex-content-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.person_img{
    background-color: #44FFA1;
    border-radius: 50%;
    height: 480px;
}

.profile-content {
    position: relative;
    right: 75px;
    top: 130px;
    background-color: #24053E;
    color:#FFFFFF;    
    height: AUTO;
    padding:73px;
   
    max-width: 600px;
}

.profile-content span {
    font-family: 'Fraunces 144pt';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
}

.profile-content p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 25px;
}

.profile-content img{
    position: absolute;
    left: 60%;
    top: 76%;
}
 
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    top:100px;
    height: 220px;;
}

.footer p{
    color:#24053E;
    font-size: 30px;
}

header:after{
    position: absolute;
    z-index: -1;
}

.social a {
    margin: 5px;
}



 /*Smartphones*/
 @media(max-width:500px){
   
    .footer{
        height: 0px;
    }

    .profile-content img{
        display: none;
    }

    .content{
        justify-content: center;
    }
    .content span{
        font-size: 40px;
        line-height: 44px;
    }

    #CurlLeftImage{
        display: none;
    }

    #CurlRightImage{
        display: none;
    }

    .cellPhoneImage img{
        max-width: 100%;
    }

    .flex-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 120px;
    }

    header{
        height: 456px;
    }

    .flex-content-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-content{
        right: 0;
        top:0;
        width: 100%;
    }

    .flex-content-items img.person_img{
        position: relative;
        top: 103px;
    }

    .flex-items
    {
    border-radius: 0 0 50% 50%/0 0 10% 10%;
    background-color:  #FCF8FF;/*#FCF8FF*/
    }

  

}

/*Target tablets*/
@media (min-width:501px) and (max-width:768px){   

    .flex-content-items{
        padding-left: 20px;
    }

    img.person_img{
        padding-left: 0px;
        height: 218px;
    }

    #tablet h1{
        display: block;
    }

    .content span{
        font-size: 60px;
        line-height: 35px;
    }

    .cellPhoneImage img{
        max-width: 100%;
    }

    .flex-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 200px;
    }

    .flex-items
    {
    border-radius: 0 0 50% 50%/0 0 10% 10%;
    background-color:  #FCF8FF;/*#FCF8FF*/
    }


   
}

/*Target Normal*/
@media (min-width:769px) and (max-width:1200px){
 
    .content span{
        font-size: 70px;
        line-height: 50px;
    }

    .cellPhoneImage img{
        max-width: 100%;
    }

    .flex-items
    {
    border-radius: 0 0 50% 50%/0 0 10% 10%;
    background-color: #979797;/*#FCF8FF*/
    }

    .flex-items
    {
    border-radius: 0 0 50% 50%/0 0 10% 10%;
    background-color:  #FCF8FF;/*#FCF8FF*/
    }

}



/*Target Landscape*/
@media (max-height:500x){
   
    #landscape h1{
        display: block;
    }
}

